/* =============  Start Font =============== */
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Reset default CSS AND  Font Assing to the Form */

* {
  padding: 0;
  margin: 0;
}

/* Default Global CSS */

:root.default {
  /* Font Assign */
  --font-family: 'Figtree', sans-serif;
  --btn-font-family: 'Figtree', sans-serif;

  /*========================== Default Colors settings | ========================== */
  --white: #fff;
  --black: #000;
  --tranparent: transparent;
  /*========================== Input Fields settings | ========================== */

  --input-bg: transparent;
  --input-font-weight: 400;
  --input-border-width: 1px;
  --input-border-color: rgba(36, 35, 45, 0.5);
  /* --input-text-clr: #323B4A; */
  /* --input-placehoder-clr: #323B4A; */

  /*========================== Checkbox Fields settings | ========================== */

  --checkbox-label-font-weight: 400;
  --checkbox-border-radius: 0px;
  --checkbox-border-bg-color: #035d79;
  --checkbox-label-color: #1b1d1c;
  --default-label-color: #1b1d1c;

  /* Font Weight */
  ---payment-secondp-fw: 600;
  ---default-fw: 700;

  /*========================== Button global settings | ========================== */

  --btn-tt: uppercase;
  --btn-fw: 800;
  --btn-txt-color: #ffffff;
  --btn-txt-hover-color: #21a499;
  --btn-bg-color: #21a499;
  --btn-bg-hover-color: #fff;
  --btn-border-color: #21a499;
  --btn-border-hover-color: #21a499;
  --btn-transition: all 0.3s ease-in;

  /* Privary Policy Color and others */
  --privary-txt-clr: #035d79;
  --privary-txt-hover-clr: #21a499;
  --privary-txt-fw: 400;
  --privary-txt-l-space: unset;
  --requierd-star-clr: #035d79;
  --select-dropdown-hover-clr: #fff;
  --select-dropdown-hover-bg: #21a499;

  /*========================== Payment Calculation box | ========================== */
  --calc-info-text-color: #fff;
  --calc-info-ts: uppercase;
  --calc-box-bg: #f56057;
  --calc-info-desc-font-weight: 400;
  --calc-calc-font-weight: 600;

  /*========================== Payment Calculator and Calculation ========================== */
  --payment-label-ts: unset;
  ---payment-label-ts: uppercase;
}

/* ============ Desktop Global CSS ============ */

:root.desktop {
  /* Check Box label*/
  --checkbox-label-fs: 18px;
  --checkbox-label-lh: 27px;
  --checkbox-label-l-space: 0px;

  /* Privacy Box label*/
  --privacy-label-fs: 12px;
  --privacy-label-lh: 18px;
  --privacy-label-l-space: 0px;

  /* Default Label =====(NOT Payment Calculation 2nd Page )==== */
  --default-label-fs: 20px;
  --default-lable-lh: 28px;
  --default-label-ltr-space: 0.5px;
  --default-label-mt: 14px;
  --default-label-mb: 16px;

  /* ============ Input ============ */

  --input-fs: 18px;
  --input-lh: 27px;
  --input-padding: 0 0 16px 0;
  --input-radius: 0px;
  --input-mb: 30px;
  --input-height: 44px;

  /*============ BTN  ============*/

  --btn-fs: 22px;
  --btn-ln: 33px;
  --btn-letter-space: 1.25px;
  --btn-padding: 11.5px 38px;
  --btn-hover-padding: 11.5px 38px;
  --btn-border-radius: 0px;
  --btn-hover-border-radius: 0px;
  --btn-mt: 40px;
  --btn-border-style: solid;
  --btn-border-width: 2px;
  --btn-icon-size: unset;
  --btn-icon-color: unset;
  --btn-icon-hover-color: unset;
  --btn-icon-position: unset;
  --btn-icon-hover-position: unset;
  --btn-icon-bg-height: unset;
  --btn-icon-bg-width: unset;

  /*========================== ============ Payment calculator  Page Bellow | ============================ */

  /* Payment Label */
  --payment-label-fs: 20px;
  --payment-label-lh: 28px;
  --payment-label-ls: 0.5px;
  --payment-label-mb: 16px;

  /* Payment Label 2nd Page*/
  ---payment-label-fs: 24px;
  ---payment-label-lh: 36px;
  ---payment-label-ls: 0.75px;
  ---payment-label-mt: 14px;
  ---payment-label-mb: 16px;

  /*====== Payment Calculation box ====== */

  --calc-box-padding: 24px 35px;
  --calc-info-border-radius: 0px;
  --calc-info-desc-fs: 18px;
  --calc-info-desc-lh: 27px;
  /* For Calculation Font*/
  --calc-calc-fs: 24px;
  --calc-calc-lh: 36px;
  --calc-calc-ls: 0.75px;

  /*====== arrow font size ====== */
  --arrow-mr: 10px;
  ---arrow-fs: 18px;
}

/* ============ Tablet Global CSS ============ */

:root.tablet {
  /* Check Box */
  --checkbox-label-fs: 16px;
  --checkbox-label-lh: 26px;
  --checkbox-label-l-space: unset;

  /* Privacy Box label*/
  --privacy-label-fs: 12px;
  --privacy-label-lh: 18px;
  --privacy-label-l-space: unset;

  /* Default Label =====(NOT Payment Calculation 2nd Page )==== */
  --default-label-fs: 18px;
  --default-lable-lh: 28px;
  --default-label-ltr-space: 0.5px;
  --default-label-mt: 14px;
  --default-label-mb: 16px;

  /* ============ Input ============ */

  --input-fs: 16px;
  --input-lh: 24px;
  --input-padding: 0 0 15px 0;
  --input-radius: 0px;
  --input-mb: 24px;
  --input-height: 41px;

  /*============ BTN  ============*/

  --btn-fs: 18px;
  --btn-ln: 27px;
  --btn-letter-space: 1.25px;
  --btn-padding: 12.5px 36px;
  --btn-hover-padding: 12.5px 36px;
  --btn-border-radius: 0px;
  --btn-hover-border-radius: 0px;
  --btn-mt: 40px;
  --btn-border-style: solid;
  --btn-border-width: 2px;
  --btn-icon-size: unset;
  --btn-icon-color: unset;
  --btn-icon-hover-color: unset;
  --btn-icon-position: unset;
  --btn-icon-hover-position: unset;
  --btn-icon-bg-height: unset;
  --btn-icon-bg-width: unset;

  /*========================== ============ Payment calculator  Page Bellow | ============================ */

  /* Payment Label */
  --payment-label-fs: 18px;
  --payment-label-lh: 27px;
  --payment-label-ls: 0.5px;
  --payment-label-mb: 16px;

  /* Payment Label 2nd Page*/
  ---payment-label-fs: 22px;
  ---payment-label-lh: 33px;
  ---payment-label-ls: 0.75px;
  ---payment-label-mt: 14px;
  ---payment-label-mb: 16px;

  /*====== Payment Calculation box ====== */

  --calc-box-padding: 24px 35px;
  --calc-info-border-radius: 0px;
  --calc-info-desc-fs: 16px;
  --calc-info-desc-lh: 24px;
  /* For Calculation Font*/
  --calc-calc-fs: 22px;
  --calc-calc-lh: 33px;
  --calc-calc-ls: 0.75px;

  /*====== arrow font size ====== */
  --arrow-mr: 10px;
  ---arrow-fs: 16px;
}

/* ============ Mobile Global CSS  ============ */

:root.mobile {
  /* Check Box */
  --checkbox-label-fs: 14px;
  --checkbox-label-lh: 21px;
  --checkbox-label-l-space: unset;

  /* Privacy Box label*/
  --privacy-label-fs: 10px;
  --privacy-label-lh: 15px;
  --privacy-label-l-space: unset;

  /* Default Label =====(NOT Payment Calculation 2nd Page )==== */
  --default-label-fs: 16px;
  --default-lable-lh: 21px;
  --default-label-ltr-space: unset;
  --default-label-mt: 4px;
  --default-label-mb: 10px;

  /* ============ Input ============ */

  --input-fs: 14px;
  --input-lh: 22px;
  --input-padding: 0px 0px 10px 0;
  --input-radius: 0px;
  --input-mb: 16px;
  --input-height: 34px;

  /*============ BTN  ============*/

  --btn-fs: 16px;
  --btn-ln: 24px;
  --btn-letter-space: 0.5px;
  --btn-padding: 11px 22px;
  --btn-hover-padding: 11px 22px;
  --btn-border-radius: 0px;
  --btn-hover-border-radius: 0px;
  --btn-mt: 30px;
  --btn-border-style: solid;
  --btn-border-width: 1px;
  --btn-icon-size: unset;
  --btn-icon-color: unset;
  --btn-icon-hover-color: unset;
  --btn-icon-position: unset;
  --btn-icon-hover-position: unset;
  --btn-icon-bg-height: unset;
  --btn-icon-bg-width: unset;

  /*========================== ============ Payment calculator  Page Bellow | ============================ */

  /* Payment Label */
  --payment-label-fs: 16px;
  --payment-label-lh: 24px;
  --payment-label-ls: unset;
  --payment-label-mb: 16px;

  /* Payment Label 2nd Page*/
  ---payment-label-fs: 18px;
  ---payment-label-lh: 27px;
  ---payment-label-ls: 0.75px;
  ---payment-label-mt: 4px;
  ---payment-label-mb: 16px;

  /*====== Payment Calculation box ====== */

  --calc-box-padding: 15px 10px;
  --calc-info-border-radius: 0px;
  --calc-info-desc-fs: 14px;
  --calc-info-desc-lh: 21px;
  /* For Calculation Font*/
  --calc-calc-fs: 18px;
  --calc-calc-lh: 27px;
  --calc-calc-ls: 0.75px;

  /*====== arrow font size ====== */
  --arrow-mr: 5px;
  ---arrow-fs: 14px;
}
